.item {
  height: $item-height;
  // margin: $item-margin;
  padding: $item-padding 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-left: $item-border-width solid black;
  // border-radius: 0.5em;
  background-color: $item-background-color;
  box-shadow: 3px 3px 3px darkgrey; //black;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    border-color: black;
  }

  &--gmail {
    border-left-color: $gmail;

    &:hover {
      border-color: $gmail;
    }
  }

  &--wunderlist {
    border-left-color: $wunderlist;

    &:hover {
      border-color: $wunderlist;
    }
  }

  & > * {
    // margin: 0 0.75em;
  }

  &__checkbox {
    //padding: 1em;
  }

  &__source-icon {
    width: $item-source-icon-width;
    margin: 0 0 0 1em;
  }

  &__details {
    flex: 1;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  &__content {
  }

  &__date {
    font-size: 0.75em;
  }

  &__show-items {
    // padding: 1em;
    width: 6em;
    margin: 0 0 0 1em;
    text-align: right;
    cursor: pointer;
  }

  &__add-item {
    // padding: 1em;
    width: 2em;
    margin: 0 0 0 1em;
    text-align: center;
    cursor: pointer;
  }

  &__url {
    width: 2em;
    margin: 0 0 0 1em;
    text-align: center;
  }

  &__sub-items {
    margin: 0 2em;
    padding: 0;
    list-style: none;

    & .item {
      height: 40px;
    }
  }
}
