.item {
  height: $item-height;
  padding: $item-padding 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-left: $item-border-width solid black;
  box-shadow: 3px 3px 3px darkgrey;
  cursor: pointer;
  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include theme--basic {
    background-color: lightgrey;
  }

  @include theme--halloween {
    background-color: $halloween-orange;
  }

  @include theme--christmas {
    background-color: $christmas-red-dark;
  }

  &:hover {
    border-color: black;
  }

  &--gmail {
    border-left-color: $gmail;

    &:hover {
      border-color: $gmail;
    }
  }

  &--wunderlist {
    border-left-color: $wunderlist;

    &:hover {
      border-color: $wunderlist;
    }
  }

  &:hover &__controls {
    display: flex;
  }

  & > * {
  }

  &__checkbox {
  }

  &__source-icon {
    width: $item-source-icon-width;
    margin: 0 0 0 1em;
  }

  &__sender {
    width: 8em;
    margin: 0 0 0 2em;
    font-weight: $header--read;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .item--unread & {
      font-weight: $header--unread;
    }
  }

  &__details {
    flex: 1;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: $header--read;

    .item--unread & {
      font-weight: $header--unread;
    }
  }

  &__content {
  }

  &__controls {
    display: none;
    flex-direction: row;
    align-items: center;

    > *:hover {
      background: grey;
      border-radius: 50%;
    }
  }

  &__show-items {
    width: 2em;
    height: 2em;
    margin: 0 0 0 1em;
    padding: 0.5em;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__items-count {
    font-size: larger;
    font-weight: bold;

    position: absolute;
  }

  &__add-item {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0 0 1em;
    padding: 0.5em;
    text-align: center;
  }

  &__url {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0 0 1em;
    padding: 0.5em;
    text-align: center;
  }

  &__sub-items {
    margin: 0 2em 0.5em 2em;
    padding: 0;
    list-style: none;

    & .item {
      height: 40px;
    }
  }
}
