@import "./variables.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin theme--basic {
  @if $theme == "basic" {
    @content;
  }
}
@mixin theme--halloween {
  @if $theme == "halloween" {
    @content;
  }
}
@mixin theme--christmas {
  @if $theme == "christmas" {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;

  @include theme--basic {
    background-color: whitesmoke;
  }

  @include theme--halloween {
    background-color: $halloween-grey-dark;
    color: white;
  }

  @include theme--christmas {
    background-color: $christmas-green-light;
  }
}

img {
  width: 100%;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import "./loading.scss";
@import "./hub.scss";
@import "./filters.scss";
@import "./items.scss";
