// Brand colours
//$gmail: #d44638;
$gmail: blue;
$wunderlist: #db4c3f;

// ----- Event -----
// Spacing
$event-margin: 0.3em 0;
$event-padding: 0.5em;

$event-border-width: 2px;

$event-source-icon-width: 2em;
