// Brand colours
$gmail: blue; //#d44638;
$wunderlist: #db4c3f;

// ----- Items ----- //
// Sizing //
$item-height: 50px;

// Spacing //
$item-margin: 0.3em 0;
$item-padding: 0.5em;

$item-border-width: 5px;

$item-source-icon-width: 2em;

// Colouring //
$item-background-color: lightgrey;
